.field {
    display: flex;
}

.date-margin {
    margin-right: 15px !important;
}

.complaint {
    /* width: 633px !important; */
    /* max-width: 70%; */
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.05) !important;
}

.button {
    background: #304FFE !important;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.06) !important;
    border-radius: 4px !important;
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: normal !important;
    color: #FFFFFF !important;
    width: 226px !important;
}

.field-width {
    width: 25% !important;
}

.info {
    color: #929292;
    font-size: 14px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.table-height {
    min-width: 280px;
    overflow-x: scroll;
    width: auto;
    display: block;
    margin: 0.5em;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}