.center{
    display: flex !important;
    justify-content: center;
}
.modalActions{
    display: flex;
}
.booking-menu {
    border-bottom: 1px solid transparent;
}
.forward {
    color: #00661D;
}
.reject {
    color: #D33E20;
}
.cursor {
    cursor: pointer;
}