.center{
    display: flex !important;
    justify-content: center;
}
.modalActions{
    display: flex;
}
.booking-menu {
    border-bottom: 1px solid transparent;
}
.booking-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.forward {
    color: #00661D;
    cursor: pointer;
}
.reject {
    color: #D33E20;
    cursor: pointer;
}
.cursor {
    cursor: pointer;
}
.table-height {
    min-height: 280px;
    overflow-x: scroll;
    width: auto;
    display: block;
    margin: 0.5em;
}