.plus-icon{
    margin-top: 3.3%;
    cursor: pointer;
}
.upload-btn {
    width: 204.667px !important;
    height: 38px !important;
    padding: 3px 0 3px 5px !important;
}
.cross-mark {
    cursor: pointer;
    margin-top: 20px !important;
}
.date-time-width {
    width: 204.667px;
}
