.bold{
    font-weight: bold;
    color: #333333;
}
.details{
    margin-right: 12px;
}
.image-style{
    margin: 0px 16px 0px 0px !important;
    height: 100% !important;
}
.authority-info{
    margin-top: 1.7%;
}
.details{
    font-family: Lato;
    font-style: normal;
    font-size: 12px;
    color: #333333;
}
.card{
    border: 1px solid #E9E9E9 !important;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.06) !important;
    border-radius: 4px !important;
}
.zero-margin{
    margin-bottom: 0px !important;
}
.content{
    padding: 0px !important;
}
.top-card{
    line-height: 10px;
}
.small-font{
    font-size: 10px !important;
    font-weight: normal;
}

.top-margin {
    margin-top: 50px;
  }
