.flex{
    display: flex;
}
.margin{
    margin-right: 29px;
}
.space {
    justify-content: space-between;
}
.center{
    display: flex; 
    align-items: center;
    margin-right: 1em;
}
.column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.large {
    font-size: 16px;
}
.mid {
    font-size: 12px;
}
.small {
    font-size: 10px;
}
.green {
    color: #00661D;
}
.red {
    color: #D04B4B;
}
.yellow {
    color: yellow;
}
.black {
    color: #000000;
}
.grey {
    color: #747474;
}