.upper_menu{
    background-color: #F6F6F6 !important;
    margin-bottom: 0px !important;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.11) !important;
    z-index: 5;
    position: relative;
}
.lower_menu{
    background-color: #F6F6F6 !important;
    margin-top: 0px !important;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.11) !important;
}