.upper_menu {
    background-color: #F6F6F6 !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.11) !important;
    z-index: 5;
    position: relative !important;
    min-height: unset !important;
    padding: 0.4em 0;
}

.lower_menu {
    background-color: #F6F6F6 !important;
    margin-top: 0px !important;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.11) !important;
    font-family: Lato;
    font-style: normal;
    /* font-weight: 5 !important; */
    /* font-size: 16px !important; */
}

.navColor {
    border-bottom: 2px solid transparent !important;
    border-radius: 0% !important;
}

.cursor {
    cursor: pointer;
}