.content-div {
  height: 100%;

  display: flex !important;
  flex-direction: column;
  justify-content: center;

  flex-grow: 1;
}

.logo img {
  width: 12em;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-container {
  margin-top: 25px;
  flex-grow: 1;
}

.main-menu {
  height: 100%;
  flex: 0 0 250px;
  float: right;
}

.student-complaints {
  background-color: #304FFE !important;
  color: #FFFFFF !important;
  font-style: normal !important;
  font-weight: normal !important;
  border-radius: 4px !important;
  margin-top: 1em !important;
}

.active-button {
  background-color: #304FFE !important;
  color: #FFFFFF !important;
  font-style: normal !important;
  font-weight: normal !important;
  border-radius: 4px !important;
}

.disactive-button {
  background: #8C9EFF !important;
  border: 1px solid #E9E9E9 !important;
  /* box-sizing: border-box ; */
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.06) !important;
  border-radius: 4px !important;
  color: #000000;
  font-style: normal !important;
  font-weight: normal !important;
}

.card-border {
  border: 1px solid #E9E9E9 !important;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.06) !important;
  border-radius: 4px !important;
}

.zero-top-margin {
  margin-top: 0px !important;
}

.zero-bottom-margin{
  margin-bottom: 0px !important;
}

.zero-padding {
  padding: 0px !important;
}

.color-black {
  color: #000000;
}

@media (max-width: 1000px) {
  .main-component {
    margin-left: 0;
  }

  .menu-bar {
    z-index: 100;
  }

  .closed-menu-bar {
    display: none !important;
  }

  .side-info {
    display: none !important;
  }
}
