.font_color{
    color: #000000;
}
.display-flex {
    display: flex;
    justify-content: space-between;
}
.max-content-width {
    width: max-content;
}
.min-margin {
    margin-right: 18px;
}
.day-heading {
    float: right;
}