.complaint-description {
    display: flex;
    justify-content: space-between;
}

.table-height {
    min-height: 280px;
    overflow-x: scroll;
    width: auto;
    display: block;
    margin: 0.5em;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}