.center{
    display: flex !important;
    justify-content: center;
}
.field-width{
    width: 30% !important;
}
.item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modalActions{
    display: flex;
}
.complaint-menu {
    border-bottom: 1px solid transparent;
}
.complaint-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.complaint-header > div {
    margin-right: 0.5rem;
}

.resolve-style {
    color: #00661D;
    cursor: pointer;
}
.cursor {
    cursor: pointer;
}
.info-icon{
    margin-left: 10px;
}
.plus-icon{
    margin-left: 5px;
}
.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-align {
    display: flex;
    justify-content: flex-end;
}
.table-height {
    min-height: 280px;
    overflow-x: scroll;
    width: auto;
    display: block;
    margin: 0.5em;
}
.table-overflow {
    overflow-x: scroll;
    width: auto;
    display: block;
    margin: 0.5em;
}