.center{
    display: flex !important;
    justify-content: center;
}
.modalActions{
    display: flex;
}
.complain-menu {
    border-bottom: 1px solid transparent;
}
.resolve-style {
    color: #00661D;
    cursor: pointer;
}
.cursor {
    cursor: pointer;
}