.center{
    display: flex !important;
    justify-content: center;
}
.modalActions{
    display: flex;
}
.complain-menu {
    border-bottom: 1px solid transparent;
}
.resolve-style {
    color: #00661D;
    cursor: pointer;
}
.cursor {
    cursor: pointer;
}
.info-icon{
    margin-left: 10px;
}
.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table-height {
    min-height: 280px;
    overflow-x: scroll;
    width: auto;
    display: block;
    margin: 0.5em;
}
.table-overflow {
    overflow-x: scroll;
    width: auto;
    display: block;
    margin: 0.5em;
}